{{page-title "New"}}

<form {{on "submit" this.save}} class="container">
  <h1>Create new product</h1>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <Input @type="text" class="form-control" id="name" name="name" placeholder="my product" @value={{this.name}} />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <Input @type="text" class="form-control" id="description" name="description" placeholder="my product description"
           @value={{this.description}} />
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <div class="input-group">
      <Input @type="number" class="form-control" id="price" name="price" placeholder="0.00"
             @value={{this.price}} aria-describedby="price-euro" step="0.01" />
      <span class="input-group-text" id="price-euro">EUR</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="legalName" class="form-label">Legal name seller</label>
    <Input @type="text" class="form-control" id="legalName" name="legalName" placeholder="your name" @value={{this.legalName}} />
  </div>
  <div class="mb-3">
    <label for="picture" class="form-label">Picture</label>
    <input type="file" class="form-control" id="picture" name="picture">
  </div>
  <button type="submit" class="btn btn-success">Save</button>
</form>
{{outlet}}