{{page-title "Offerings"}}

<div class="container">
  <div class="row">
    {{#each this.model as |offering|}}
      <div class="col-md-4">
        <div class="card overview-card">
          <div class="card-body">
            <h5 class="card-title">{{offering.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{offering.hasPriceSpecification.hasCurrencyValue}} {{offering.hasPriceSpecification.hasCurrency }}</h6>
            <p class="card-text">{{offering.description}}</p>
            <a class="btn btn-primary disabled" href="#" role="button" aria-disabled="true">Go somewhere</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <button class="btn btn-primary" type="button" {{ on "click" this.sync }} id="sync-button">Sync your offerings</button>
</div>
{{outlet}}