<div class="container">
  {{#if this.error}}
    <div class="alert alert-danger">{{this.error}}</div>
  {{/if}}
  <div class="row">
    <div class="col-md-7">
      <div class="mb-3">
        <label for="query" class="form-label">Search</label>
        <Input @type="text" class="form-control" id="query" name="query" placeholder="my product" @value={{this.query}} />
      </div>
    </div>
    <div class="col-md-5">
      <label for="price" class="form-label" id="priceLabel">Price</label>
      <div class="input-group mb-3">
        <Input @type="number" class="form-control" name="price" min="0" max="{{this.priceMax}}" aria-labelledby="priceLabel" @value={{this.priceMin}} {{ on "change" this.updatedMin }} />
        <span class="input-group-text"> - </span>
        <Input @type="number" class="form-control" min="{{this.priceMin}}" aria-labelledby="priceLabel" @value={{this.priceMax}} {{ on "change" this.updatedMax }} />
      </div>
    </div>

    {{#each this.model as |offering|}}
      <div class="col-md-4">
        <div class="card overview-card">
          <div class="card-body">
            <h5 class="card-title">{{offering.attributes.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{offering.attributes.price.price}} {{offering.attributes.price.priceCurrency}}</h6>
            <p class="card-text">{{offering.attributes.description}}</p>
            <button class="btn btn-primary" type="button" {{ on "click" (fn this.buy offering.attributes.uri offering.attributes.pod)}}>Buy!</button>
          </div>
          <div class="card-footer text-muted">
            Offered by <a href="{{offering.attributes.seller.webId}}">{{offering.attributes.seller.legalName}}</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>